.App {
  /* text-align: center; */
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  width: 100%;
  border-bottom: 1px solid white;
}

.Dog-card {
  height: 800px;
  width: 600px;
  border: 1px solid white;
  border-radius: 15px;
}

.Dog-name {
  text-align: left ;
  display: inline;
  position: relative;
  margin-left: 0%;
  margin-right: 60%;
}

.Dog-breed {
  text-align: left ;
  display: inline;
  margin-left: 0%;
  margin-right: 0%;
}

.Dog-sex {
  text-align: left;
  display: inline;
  position: relative;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
