.App {
  align-content: center;
  text-align: center;
}

.Swipe {
  text-align: center;
  width: 400px;
}

.Swipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #dcf8c6;
  font-size: calc(10px + 2vmin);
  color: black;
  width: 100%;
}

.Dog-card {
  margin-top: 30px;
  height: 500px;
  width: 400px;
  border-radius: 15px;
  background-color: #dcf8c6;
  color: black;
  display: flex;
  flex-direction: column;
}

.Dog-container {
  margin: 0 60px 0 60px;
  font-size: 20px;
}

.Dog-name {
  float: left;
}

.Dog-breed {
  text-align: left;
  margin: 0 0 0 60px;
}

.Dog-sex {
  float: right;
}

.Dog-image {
  flex-grow: 1;
  margin: 30px;
  object-fit: contain;
}

.Api-image {
  border-radius: 15px;
  object-fit: contain;
  max-height: 280px;
  max-width: 315px;
}

.Swipe-button {
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 30px 0;
}

.Buttons {
  display: flex;
  justify-content: space-around;
}

.Header-text {
  margin-right: 30px;
  text-align: right !important;
}

.logo {
  position: absolute;
  bottom: 15px;
  left: 15px;
  height: 120px;
}

.Header-button {
  font-size: 15px;
  margin-bottom: 5px;
  background: none;
  border: none;
}
